<body class="d-flex  text-center text-white " style="background-image:url('./assets/images/download.jpg'); background-size:cover;">
    
    <div class="container-fliud" >
      <main class="px-5 py-4" >
        <h1>Good {{greet}} Neha</h1>
        <p class="lead py-2">Welcome back to our new website. Click the Below Button.</p>
        <p class="lead">
            <button class="btn btn-lg  fw-bold text-dark  py-2 px-4" 
               (click)="myfun()">Click Here</button>        
        </p>
      </main>
    </div><br>
    
</body>
     
     